#canvas1{
    /* border: 5px solid black; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
}
.controls{
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 250px;
    transform: translate(-50%);
}
.controls, select, option{
    font-size: 25px;
}